.container-scroll {
    display: flex;
    gap: 20px;
}

.left-panel {
    flex: 1;
    position: sticky;
    top: 10px;
    /* Mantém fixo no topo ao rolar */
    height: 85vh;
    /* Mantém a altura fixa */
    overflow-y: auto;
    /* Adiciona scroll se necessário */
}

.right-panel {
    flex: 2;
    max-height: 85vh;
    /* Define uma altura máxima */
    overflow-y: auto;
    /* Habilita a rolagem */
}

.contadorProgresso {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align:text-bottom;
    height: 100%;
    border-radius: 5px;
}

.input-file {
    display: none; /* Esconde o input padrão */
}

.custom-file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #007bff; /* Cor do fundo */
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s;
}

.custom-file-label:hover {
    background: #0056b3; /* Cor ao passar o mouse */
}
