.container-scroll {
    display: flex;
    gap: 20px;
}

.left-panel {
    flex: 1;
    position: sticky;
    top: 10px;
    height: 85vh;
    overflow-y: auto;
}

.right-panel {
    flex: 2;
    max-height: 85vh;
    overflow-y: auto;
}

.contadorProgresso {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align:text-bottom;
    height: 100%;
    border-radius: 5px;
}

.input-file {
    display: none;
}

.custom-file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #007bff;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s;
}

.custom-file-label:hover {
    background: #0056b3;
}

.drop-area {
    border: 2px dashed #007bff;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    margin: 15px auto 15px;
    background-color: #f8f9fa;
}

.drop-area.highlight {
    background-color: #e0e0e0;
}

.preview-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.preview-area:focus{
    background-color: #e0e0e0;
}

.preview {
    position: relative;
    display: inline-block;
}

.preview>img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.preview>button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.preview>button:hover {
    background-color: red;
}

datalist {
    max-height: 200px;
}

.custom-button-tooltip {
    border: none;
    background-color: transparent;
}